{% extends "header.html" %}
{% block body %}
<body>
	<h3>View</h3>
	<div class="panel" id="mainForm">
		<form>
			<div class="row">
				<div class="large-12 columns">
					<label>Company
						<select>
							<option value="ALL">All</option>
						</select>
					</label>
				</div>
			</div>
			<div class="row">
				<a href="#" class="button">View</a>
			</div>
		</form>
	</div>
	<div id="companyContent">
		{% for company in companies %}
			<h4>{{ company.Name }} <h6>{{ company.ContactName }} &nbsp; &nbsp; &nbsp;{{ company.ContactEmail }}</h6></h4>
		{% endfor %}
	</div>

</body>
{% include "footer.html" %}
{% endblock %}