body {
	margin-right: 100px;
	margin-left: 100px; 
}

h1, h3 {
	text-align: center;
}

h1, h2, h3, h4, h5 {
	font-family: "Lato Light", "Century Gothic", sans-serif;
}

.icon-bar-index {
	margin: 0 auto;
}

#iconUpdateIndex{
	width: 100%;
}

#mainForm {
	width: 900px;
	margin: 0 auto;
	margin-top: 30px;
	margin-bottom: 30px;
}

#companyContent {
	max-height: 500px;
	overflow-y: scroll;

}

.button {
	float: right;
	margin-bottom: 0px;
}

.no-bullets{
	list-style-type: none;
}

#addForm {
	padding-left: 0.5rem;
}